@media only screen and (min-width: 1366px) {
  body {
    width: 100%;
  }
  .head {
    border-radius: 15px;
    width: 45%;
    align-self: center;
    padding: 1em;
    &__Logo {
      width: 15%;
    }
    &__Score {
      width: 130px;
      height: 100px;
      padding: 0.75em;
      font-size: 1.2em;
    }
  }
  .pick {
    &__Paper,
    &__Scissors,
    &__Rock,
    &__Lizard,
    &__Spock {
      height: 150px;
      width: 150px;
    }
    &__Scissors {
      top: -2.5em;
    }
    &__Paper,
    &__Spock {
      bottom: 4em;
    }
    &__Paper {
      left: 6.5em;
    }
    &__Rock {
      left: 2.5em;
    }
    &__Lizard {
      right: 2.5em;
    }
    &__Spock {
      right: 6.5em;
    }
    &__Bg {
      width: 25%;
    }

    &__Final {
      grid-template: 1fr / 3fr 1fr 3fr;
      grid-template-areas: "you result house";
    }
    &__YouPicked,
    &__HousePicked {
      flex-direction: column;
      gap: 3em;
      font-size: 1.1em;
      div {
        height: 250px;
        width: 250px;
      }
    }
    &__Result {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;
      transition: 0.3s;
      span {
        font-size: 2em;
        color: white;
      }
      button {
        text-transform: uppercase;
        font-size: 0.8em;
        padding: 0.5em 3em;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          color: red;
        }
      }
    }
  }
  .rules {
    display: flex;
    justify-content: flex-end;
    &__Modal {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000000;
      width: 28%;
      height: 50%;
      border-radius: 15px;
      padding: 1em;
      display: none;
      grid-template: 10% 1fr / repeat(2, 1fr);
      grid-template-areas:
        "title close"
        "image image";
    }
    &__Title {
      grid-area: title;
      justify-self: flex-start;
    }
    &__Close {
      grid-area: close;
      justify-self: flex-end;
    }
    &__Image {
      grid-area: image;
      justify-self: center;
      width: 80%;
      img {
        width: 100%;
        height: auto;
      }
    }
    &__ModalBg {
      display: none;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
    }
  }
}
