@media only screen and (min-width: 1366px) {
  body {
    width: 100%;
  }
  .head {
    border-radius: 15px;
    width: 45%;
    align-self: center;
    padding: 1em;
    &__Logo {
      width: 25%;
    }
    &__Score {
      width: 100px;
      height: 80px;
      padding: 0.75em;
    }
  }
  .pick {
    &__Paper,
    &__Scissors,
    &__Rock {
      height: 160px;
      width: 160px;
    }
    &__Paper {
      top: -1em;
      right: 2em;
      justify-self: self-end;
      align-self: flex-start;
    }
    &__Scissors {
      top: -1em;
      left: 2.5em;
    }
    &__Final {
      grid-template: 1fr / 3fr 1fr 3fr;
      grid-template-areas: "you result house";
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 4em;
    }
    &__YouPicked,
    &__HousePicked {
      top: 0;
      right: 0;
      left: 0;
      height: 220px;
      width: 220px;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30%;
      }
    }
    &__YouPicked {
      grid-area: you;
      justify-self: end;
    }
    &__HousePicked {
      grid-area: house;
      justify-self: start;
    }
    &__Result {
      grid-area: result;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;
      span {
        font-size: 2em;
        color: white;
      }
      button {
        text-transform: uppercase;
        font-size: 0.8em;
        padding: 0.5em 3em;
        border-radius: 5px;
      }
    }
  }
  .rules {
    display: flex;
    justify-content: flex-end;
    &__Modal {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000000;
      width: 28%;
      height: 50%;
      border-radius: 15px;
      padding: 1em;
      display: none;
      grid-template: 10% 1fr / repeat(2, 1fr);
      grid-template-areas:
        "title close"
        "image image";
    }
    &__Title {
      grid-area: title;
      justify-self: flex-start;
    }
    &__Close {
      grid-area: close;
      justify-self: flex-end;
    }
    &__Image {
      grid-area: image;
      justify-self: center;
      width: 80%;
      img {
        width: 100%;
        height: auto;
      }
    }
    &__ModalBg {
      display: none;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
    }
  }
}
