html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  box-sizing: border-box;
  overflow: hidden;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
body {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-repeat: no-repeat;
  color: hsl(229, 25%, 31%);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  gap: 1em;
}

.attribution {
  text-transform: capitalize;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 5px;
  &__Logo {
    width: 30%;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__Score {
    background: white;
    border-radius: 5px;
    color: hsl(229, 64%, 46%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 2em;
    h4 {
      font-size: 0.6em;
    }
    span {
      font-size: 2.5em;
      font-weight: 700;
    }
  }
}
.pick {
  height: 50vh;
  display: flex;
  align-items: center;
  &__Choice {
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    grid-template-areas:
      "scissors scissors"
      "spock paper"
      "lizard rock";
  }
  &__Paper,
  &__Scissors,
  &__Rock,
  &__Lizard,
  &__Spock {
    height: 100px;
    width: 100px;
    border-radius: 5000000%;
    display: grid;
    place-content: center;
    position: relative;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      height: 75%;
      background: white;
      border-radius: 50%;
    }
    img {
      position: relative;
      z-index: 10;
      left: 10%;
      height: auto;
      width: 80%;
      pointer-events: none;
    }
  }
  &__Scissors {
    justify-self: center;
    grid-area: scissors;
    background: radial-gradient(circle at bottom, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  }
  &__Paper,
  &__Spock {
    bottom: 1.5em;
  }
  &__Paper {
    left: 4em;
    grid-area: paper;
    background: radial-gradient(circle at bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  }
  &__Rock {
    left: 2em;
    grid-area: rock;
    background: radial-gradient(circle at bottom, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  }
  &__Lizard {
    right: 2em;
    justify-self: end;
    grid-area: lizard;
    background: radial-gradient(circle at bottom, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  }
  &__Spock {
    right: 4em;
    justify-self: end;
    grid-area: spock;
    background: radial-gradient(circle at bottom, hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  }
  &__Bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    img {
      height: auto;
      width: 100%;
    }
  }
  &__Final {
    display: none;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-template-areas:
      "you house"
      "result result";
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 4em;
  }
  &__YouPicked,
  &__HousePicked {
    display: flex;
    flex-direction: column-reverse;
    gap: 2em;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: white;
    text-align: center;
    transition: 0.3s ease-in;
    div {
      top: 0;
      right: 0;
      left: 0;
      height: 120px;
      width: 120px;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30%;
      }
    }
  }
  &__YouPicked {
    grid-area: you;
    justify-self: end;
  }
  &__HousePicked {
    grid-area: house;
    justify-self: start;
  }
  &__Result {
    grid-area: result;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    transition: 0.3s;
    span {
      font-size: 2em;
      color: white;
    }
    button {
      text-transform: uppercase;
      font-size: 0.8em;
      padding: 0.5em 3em;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
.rules {
  display: grid;
  place-content: center;
  &__Button {
    text-transform: uppercase;
    background: none;
    border: 3px solid hsl(217, 16%, 45%);
    color: hsl(217, 16%, 75%);
    border-radius: 15px;
    font-size: 1em;
    padding: 0.5em 2em;
    cursor: pointer;
  }
  .modal__Unhide {
    display: grid;
  }
  &__Modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000000;
    height: 100%;
    width: 100%;
    background: white;
    display: none;
    grid-template: 20% 1fr 20% / 1fr;
    grid-template-areas:
      "title"
      "image"
      "close";
    align-items: center;
  }
  &__Title {
    grid-area: title;
    text-align: center;
  }
  &__Close {
    justify-self: center;
    border: none;
    background: none;
    grid-area: close;
    cursor: pointer;
  }
  &__Image {
    justify-self: center;
    grid-area: image;
    width: 80%;
    img {
      width: 100%;
      height: auto;
    }
  }
}
