html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle at top, #1f3756, #141539);
  background-repeat: no-repeat;
  color: #3b4363;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  gap: 1em;
}

.attribution {
  text-transform: capitalize;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
  border: 3px solid #606e85;
  border-radius: 5px;
}

.head__Logo {
  width: 30%;
}

.head__Logo img {
  width: 100%;
  height: auto;
}

.head__Score {
  background: white;
  border-radius: 5px;
  color: #2a46c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  padding: 0.25em 0.5em;
}

.head__Score h4 {
  font-size: 0.6em;
}

.head__Score span {
  font-size: 2em;
  font-weight: 700;
}

.pick {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pick__Choice {
  height: 100%;
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[2];
      grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.pick__Paper, .pick__Scissors, .pick__Rock {
  height: 120px;
  width: 120px;
  border-radius: 5000000%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  position: relative;
  cursor: pointer;
}

.pick__Paper::before, .pick__Scissors::before, .pick__Rock::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
  background: white;
  border-radius: 50%;
}

.pick__Paper img, .pick__Scissors img, .pick__Rock img {
  position: relative;
  z-index: 10;
  left: 10%;
  height: auto;
  width: 80%;
  pointer-events: none;
}

.pick__Paper {
  background: radial-gradient(circle at bottom, #4865f4, #5671f5);
}

.pick__Scissors {
  background: radial-gradient(circle at bottom, #ec9e0e, #eca922);
  position: relative;
  left: 1.5em;
}

.pick__Rock {
  background: radial-gradient(circle at bottom, #dc2e4e, #dd405d);
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.pick__Bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pick__Bg img {
  height: auto;
  width: 100%;
}

.pick__Final {
  display: none;
}

.rules {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.rules__Button {
  text-transform: uppercase;
  background: none;
  border: 3px solid #606e85;
  color: #b5bdc9;
  border-radius: 15px;
  font-size: 1em;
  padding: 0.5em 2em;
  cursor: pointer;
}

.rules .modal__Unhide {
  display: -ms-grid;
  display: grid;
}

.rules__Modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000;
  height: 100%;
  width: 100%;
  background: white;
  display: none;
  -ms-grid-rows: 20% 1fr 20%;
  -ms-grid-columns: 1fr;
      grid-template: 20% 1fr 20% / 1fr;
      grid-template-areas: "title" "image" "close";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rules__Title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  text-align: center;
}

.rules__Close {
  -ms-grid-column-align: center;
      justify-self: center;
  border: none;
  background: none;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: close;
  cursor: pointer;
}

.rules__Image {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: image;
  width: 80%;
}

.rules__Image img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 1366px) {
  body {
    width: 100%;
  }
  .head {
    border-radius: 15px;
    width: 45%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 1em;
  }
  .head__Logo {
    width: 25%;
  }
  .head__Score {
    width: 100px;
    height: 80px;
    padding: 0.75em;
  }
  .pick__Paper, .pick__Scissors, .pick__Rock {
    height: 160px;
    width: 160px;
  }
  .pick__Paper {
    top: -1em;
    right: 2em;
    -ms-grid-column-align: self-end;
        justify-self: self-end;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .pick__Scissors {
    top: -1em;
    left: 2.5em;
  }
  .pick__Final {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 3fr 1fr 3fr;
        grid-template: 1fr / 3fr 1fr 3fr;
        grid-template-areas: "you result house";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    gap: 4em;
  }
  .pick__YouPicked, .pick__HousePicked {
    top: 0;
    right: 0;
    left: 0;
    height: 220px;
    width: 220px;
  }
  .pick__YouPicked img, .pick__HousePicked img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 30%;
  }
  .pick__YouPicked {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: you;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .pick__HousePicked {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: house;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .pick__Result {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: result;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
  }
  .pick__Result span {
    font-size: 2em;
    color: white;
  }
  .pick__Result button {
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 0.5em 3em;
    border-radius: 5px;
  }
  .rules {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .rules__Modal {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1000000;
    width: 28%;
    height: 50%;
    border-radius: 15px;
    padding: 1em;
    display: none;
    -ms-grid-rows: 10% 1fr;
    -ms-grid-columns: (1fr)[2];
        grid-template: 10% 1fr/repeat(2, 1fr);
        grid-template-areas: "title close" "image image";
  }
  .rules__Title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
    justify-self: flex-start;
  }
  .rules__Close {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: close;
    justify-self: flex-end;
  }
  .rules__Image {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: image;
    -ms-grid-column-align: center;
        justify-self: center;
    width: 80%;
  }
  .rules__Image img {
    width: 100%;
    height: auto;
  }
  .rules__ModalBg {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
  }
}
/*# sourceMappingURL=styles.css.map */